* {
  font-family: 'Roboto';
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white
}

a {
  text-decoration: none;
  color: white;
}

main {
  height: 100vh;
  background-color: rgb(186, 186, 186);
  display: flex;
  justify-content: center;
}

footer {
  height: 20vh;
  background-color: rgb(110, 109, 109);
  display: flex;
  justify-content: center;
}

.footer-content {
  border: 1px solid red;
  width: 50%;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container ul {
  display: flex;
  gap: 1rem;
}

.recipe-list-container {
  /* border: 1px red solid; */
  width: 300px;
  height: 500px;
  position: relative;
}

.recipe-list-container img {
  /* border: 1px red solid; */
  filter: grayscale(80%);
  border-radius: .5rem;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0cm 0cm;  
  box-shadow: 5px 5px 10px rgb(63, 63, 63);
  transition: 0.5s ease;
  
}

.recipe-list-container:hover img{
  opacity: 0.3;
}

.recipe-list-container:hover .text {
  opacity: 1;
}

.cheese img {
  object-position: -5.2cm 0cm;
}

.chicken img {
  object-position: -5cm 0cm;
}

.recipe-list-container .text {
  border-radius: .25rem;
  background-color: rgb(109, 108, 108);
  position: absolute;
  top: 170px;
  left: 30px;
  width: 80%;
  height: 30%;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

.text {
  font-size: 24px;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text a {
  font-size: 18px;
  background-color: rgb(76, 76, 76);
  padding: .25rem .2rem;
  border-radius: .25rem;
}