body {
  margin: 0px;
}

.flex-container {
  display: flex;
  margin: 1rem;
}

.flex-container div {
  border: 3px solid red;
  height: 100px;
  width: 200px;
  background-color: peachpuff;
  flex: 1 1 0;
  padding: 1rem;
}

.flex-container .two {
  flex-grow: 2;
  /* flex-shrink: 0; */
}

.container {
  width: 500px;
  border: 3px solid blue;
  height: 500px;
  margin: 1rem;
  display: flex;
  padding: 1rem;
}

.container div {
  flex: initial;
  background-color: beige;
  width: 200px;
  height: 100px;
  border: 5px solid black; 
}