body {
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  outline: 2px solid red;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.button-container {
  outline: 1px solid red;
  flex: 2;
}

.screen-container {
  outline: 1px solid red;
  flex: 1;
}