body {
  margin: 0;
  font-family: 'Roboto';
  /* margin-top: 60px; */
}

main {
  margin-top: 3rem;
  padding: 1rem;
}


.nav-projects {
  background-color: peachpuff;
  border-bottom: 3px solid black;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  /* display: flex; */
}

.nav-projects a {
  padding: 0.25rem;
  text-decoration: none;
  border: 3px solid black;
  background-color: aquamarine;
}

#matchPop {
  border: 1px solid red;
  height: 150px;
  width: 350px;
  background-color: beige;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#matchPop button {
 
}

#matchPop p {

}